#NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: arial, sans-serif;
  font-size: 13px;
}

li {
  padding: 10px 10px 0 10px;
  display: inline;
}
a {
  text-decoration: none;
  color: black;
}
#SignIn {
  background-color: #1a73e8;
  color: #fff;
  width: 75px;
  height: 40px;
  border-radius: 5px;
}

#logo {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 5%;
}
#SearchBox {
  width: 80%;
  border: white;
}

#GoogleSearch {
  margin: 0 20px;
}
#searchboxdiv {
  position: relative;
  max-width: 33%;
  height: 44px;
  border: 2px solid rgb(223, 225, 229);
  border-radius: 10px;
  margin: 0 33%;
  display: flex;
  justify-content: center;
}

#searchimage {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 33%;
  left: 3%;
}
#googlemicrophone {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 33%;
  right: 3%;
}
#searchbuttondiv {
  display: flex;
  justify-content: center;
}
button {
  font-family: roboto, arial, sans-serif;
  border: 1px solid #f8f9fa;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
}

#NavBarFooter {
  display: flex;
  justify-content: space-evenly;
}
footer {
  background-color: rgb(239, 239, 239);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 14px;
  font-family: roboto, arial, sans-serif;
}
